name: "Test"
on:
  pull_request:
  push:
    branches:
      - main
      - staging
      - trying
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
    - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
    - run: nix build -L
